@import "tailwindcss";

.scrollbar-hide {
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

body {
  background-color: #000000;
  
  font-family: 'Roboto', sans-serif;
}

.unused-class {
  display: none;
}
